p {
  color: #928484;
}

/*clase*/
.button-custom {
  color: rgb(94, 94, 151);
}

/*ID*/
#titulo {
  color: rgb(104, 68, 23);
}

.contenedor {
  color: rgb(220, 220, 226); /*modifica el color de la letra*/
  background-color: #494545; /*color de fondo*/
  /*font-size: 30px; /*tamaño de la letra*/
  font-family: Arial, Helvetica, sans-serif;
  /*text-align: center; /*alineacion texto*/
  border: 25px solid rgb(28, 32, 39); /*(ancho de la linea, tipo de linea, color linea)*/
  border-radius: 0px; /*radio del borde*/
  width: 710px; /*ancho*/
  height: 270px; /*alto*/
  display: flex;
  gap: 15px;
}

.button-div {
  padding: 20px; /*distancia desde el elemento hasta los bordes*/
  margin: 10px; /*distancia desde los bordes hacia afuera*/
}

.contenedor-flexible {
  display: flex;
}
.container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 23px;
}

span {
  color: orange;
}
