/*comentarios*/

/*selectores*/

/* Etiqueta */
/*modificamos directamente la etiqueta
 a la cual estamos apuntando*/

p {
  color: #cfcfcf;
}

/*clase*/
.button-custom {
  color: rgb(255, 255, 255);
}

/*ID*/
#titulo {
  color: rgb(255, 255, 255);
}

.contenedor {
  color: rgb(0, 0, 0); /*modifica el color de la letra*/
  background-color: #297aa8; /*color de fondo*/
  font-size: 10px; /*tamaño de la letra*/
  font-family: Arial, Helvetica, sans-serif;
  /*text-align: center; /*alineacion texto*/
  border: 100px solid rgb(29, 93, 136); /*(ancho de la linea, tipo de linea, color linea)*/
  border-radius: 10px; /*radio del borde*/
  width: 260px; /*ancho*/
  height: 320px; /*alto*/
  display: flex;
  gap: 50px;
}

.button-div {
  padding: 20px; /*distancia desde el elemento hasta los bordes*/
  margin: 10px; /*distancia desde los bordes hacia afuera*/
}

.contenedor-flexible {
  display: flex;
}
.container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1 {
  font-size: 30px;
  color: #ffffff;
}
h2 {
  font-size: 23px;
}

span {
  color: orange;
}
body{
  display: flex;
  justify-content: center;
}
.inp{
width: 280px;
height: 40px;
margin  
}
.log{
  display: flex;
  width: 180px;
}
a{
 display: flex;

}
